
h1{
	text-align:center;
	color: #207cca;
}
.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
				width: 350px;
																																																																						00px;
			
}

.Button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.Button:hover  {
                background-color:#fafafa;
                color:#207cca;
}

#aDiv {
	
	margin: 0 auto;
	display: table;
    width: 100%;
	}
#aForm
{
	display: table-cell;
   text-align: center;
   vertical-align: middle;	
}
#footer {
	font-size: 10;
	text-align: center;
    position : relative;
	top: 75%;
    bottom : 25px;
    height : 40px;
	width:99%;
    margin-top : 40px;
	color: #207cca;
  }